{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col text-center">
				<h1>{{ exception.message }}</h1>
			</div>
		</div>
	</div>
{% endblock %}
